.plan_info{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    opacity: 0.8;
}
.plan_info:hover{
    opacity: 1;
}
.plan_info > button{
    padding: 10px 20px;
    font-size: 1rem;
    color: #ededed;
    background-color: #e50914;
    border: none
}
.curr button{
    background-color: gray;
}